/* 
==============================================
CONTENT:	Messenger
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Reset
1. STYLES

==============================================
*/

/* 0. Reset ================================= */
@use 'reset';


/* 1. STYLES ================================= */

* {
	box-sizing: border-box;
}

body{
	background: #ff494c;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
}

.header{
	display: flex;
	justify-content: center;
	padding: 25px;

	&__text{
		font-size: 1.875rem;
		font-weight: bold;
		text-transform: uppercase;
		color:white;
	}
}

.compose{
	background: white;
	margin: auto;
	width: 90%;
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	padding: 25px 25px 20px;

	&__send-button{
		border-radius: 5%;
		border: none;
		width: 99%;
		padding: 15px;
		align-self: center;
		cursor: pointer;
		background: cyan;
		font-weight: bold;

		&:hover{
			filter:brightness(97%);
		}
	}

}

.input-row{
	border-bottom: gray 1px solid;
	display: flex;
	align-items: center;

	&__input{
		border: none;
		outline: none;
		padding: 10px;
		width: 78%;
	}
}

.char-usage{
	font-size: 0.75rem;

	&_name{
		margin: 0px 15px 0px auto;
	}

	&_message{
		padding: 4px;
	}
}

.message-field{
	display: flex;
	padding: 5px;
	flex-direction: column;

	&__input{
		width: 100%;
		margin: 0px 0px;
		padding: 10px;
		font-size: 1.25rem;
		resize: none;
		height: 120px;
	}
		
}